{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">
  <div class="header">
    <h1 class="header__title">Інші товари</h1>
    <small class="header__info">Комп'ютери та ноутбуки</small>
  </div>

{{#with data.product}}
  <form method="POST" action="/purchase-create?id={{id}}">
    <div class="product-info">
      <img src="{{img}}" alt="Товар 1" class="product-info__image">
      <h2 class="product-info__title">{{title}}</h2>
      <p class="product-info__subtitle">{{description}}</p>
      <div class="product-info__divider"></div>
      <div class="product-info__divider"></div>
      {{> field label="Кількість" type="number" name="amount" value="1"}}
      <button href="/purchase-product?id={{id}}" class="product-info__button">Купити зараз:</button>
    </div>
  </form>
{{/with}}

  <section>
    <div class="card">
      {{#each data.list}}       
          {{>purchase-product data=this}}
      {{/each}}
    </div>
  </section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}