{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main class="main">

<div class="header">
    <h1 class="header__title">Інформація про товар</h1>
</div>

{{#with data.product}}
  <form method="POST" action="/purchase-create?id={{id}}">
    <div class="product-info">
      <img src="/img/png.png" alt="Товар 1" class="product-info__image">
      <h2 class="product-info__title">{{title}}</h2>
      <p class="product-info__subtitle">{{description}}</p>
      {{> divider}}

      <div class="product-info__category1">{{category1}}</div>
      <div class="product-info__category2">{{category2}}</div>

      {{> divider}}
      {{> field label="Кількість" type="number" name="amount" value="1"}}
      <button class="product-info__button">Купити зараз: {{price}}грн</button>
    </div>
  </form>
{{/with}}

<div class="header">
    <h1 class="header__title">Інші товари</h1>
    <small class="header__info">Комп'ютери та ноутбуки</small>
</div>

<section>
  <div class="card">
    {{#each data.list}}       
        {{>purchase-product data=this}}
    {{/each}}
  </div>
</section>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}