<div class="card">
    <header class="card__header">
        {{name}}
    </header>
    <body class="card__body">
        {{description}}
        <div class="card__id">{{id}}</div>
    </body>
    <footer class="card__footer">
        <div class="card__price">{{price}}</div>
        <a href = "/product-edit?id={{id}}" class = "card__button">Редагувати</a>
    </footer>
</div>